# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=5432

# Node Gateway
GATEWAY_PORT=3000
JWT_SECRET=

# Go Core
CORE_PORT=8080
# 32 bytes hex encoded for AES-256 master key
STARVAULT_MASTER_KEY=
