--
-- PostgreSQL database dump
--

\restrict 36Yr5RWdp2gfR5WnLviSIFx8Cs89rnOqdEVuJyHNmvgRSQ3fI3rPxTTNK9dHSXY

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.vault_data DROP CONSTRAINT vault_data_user_id_fkey;
ALTER TABLE ONLY public.consents DROP CONSTRAINT consents_user_id_fkey;
ALTER TABLE ONLY public.consents DROP CONSTRAINT consents_app_id_fkey;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_user_id_fkey;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_app_id_fkey;
ALTER TABLE ONLY public.access_tokens DROP CONSTRAINT access_tokens_user_id_fkey;
ALTER TABLE ONLY public.access_tokens DROP CONSTRAINT access_tokens_app_id_fkey;
DROP INDEX public.idx_vault_data_user;
DROP INDEX public.idx_consents_user_app;
DROP INDEX public.idx_access_tokens_hash;
ALTER TABLE ONLY public.vault_data DROP CONSTRAINT vault_data_pkey;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_pkey;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_email_key;
ALTER TABLE ONLY public.consents DROP CONSTRAINT consents_pkey;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_pkey;
ALTER TABLE ONLY public.apps DROP CONSTRAINT apps_pkey;
ALTER TABLE ONLY public.access_tokens DROP CONSTRAINT access_tokens_pkey;
DROP TABLE public.vault_data;
DROP TABLE public.users;
DROP TABLE public.consents;
DROP TABLE public.audit_logs;
DROP TABLE public.apps;
DROP TABLE public.access_tokens;
DROP EXTENSION pgcrypto;
--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_tokens; Type: TABLE; Schema: public; Owner: starvault
--

CREATE TABLE public.access_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    app_id uuid NOT NULL,
    token_hash text NOT NULL,
    scopes text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.access_tokens OWNER TO starvault;

--
-- Name: apps; Type: TABLE; Schema: public; Owner: starvault
--

CREATE TABLE public.apps (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    secret_hash text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.apps OWNER TO starvault;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: starvault
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    app_id uuid NOT NULL,
    action text NOT NULL,
    scope text,
    event_hash text NOT NULL,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    blockchain_status text DEFAULT 'PENDING'::text
);


ALTER TABLE public.audit_logs OWNER TO starvault;

--
-- Name: consents; Type: TABLE; Schema: public; Owner: starvault
--

CREATE TABLE public.consents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    app_id uuid NOT NULL,
    scopes text NOT NULL,
    purpose text NOT NULL,
    status text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    revoked_at timestamp with time zone,
    CONSTRAINT consents_status_check CHECK ((status = ANY (ARRAY['ACTIVE'::text, 'REVOKED'::text, 'EXPIRED'::text])))
);


ALTER TABLE public.consents OWNER TO starvault;

--
-- Name: users; Type: TABLE; Schema: public; Owner: starvault
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    public_key text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO starvault;

--
-- Name: vault_data; Type: TABLE; Schema: public; Owner: starvault
--

CREATE TABLE public.vault_data (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    data_type text NOT NULL,
    encrypted_payload text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.vault_data OWNER TO starvault;

--
-- Data for Name: access_tokens; Type: TABLE DATA; Schema: public; Owner: starvault
--



--
-- Data for Name: apps; Type: TABLE DATA; Schema: public; Owner: starvault
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: starvault
--



--
-- Data for Name: consents; Type: TABLE DATA; Schema: public; Owner: starvault
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: starvault
--



--
-- Data for Name: vault_data; Type: TABLE DATA; Schema: public; Owner: starvault
--



--
-- Name: access_tokens access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.access_tokens
    ADD CONSTRAINT access_tokens_pkey PRIMARY KEY (id);


--
-- Name: apps apps_pkey; Type: CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.apps
    ADD CONSTRAINT apps_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: consents consents_pkey; Type: CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.consents
    ADD CONSTRAINT consents_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vault_data vault_data_pkey; Type: CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.vault_data
    ADD CONSTRAINT vault_data_pkey PRIMARY KEY (id);


--
-- Name: idx_access_tokens_hash; Type: INDEX; Schema: public; Owner: starvault
--

CREATE INDEX idx_access_tokens_hash ON public.access_tokens USING btree (token_hash);


--
-- Name: idx_consents_user_app; Type: INDEX; Schema: public; Owner: starvault
--

CREATE INDEX idx_consents_user_app ON public.consents USING btree (user_id, app_id);


--
-- Name: idx_vault_data_user; Type: INDEX; Schema: public; Owner: starvault
--

CREATE INDEX idx_vault_data_user ON public.vault_data USING btree (user_id);


--
-- Name: access_tokens access_tokens_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.access_tokens
    ADD CONSTRAINT access_tokens_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: access_tokens access_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.access_tokens
    ADD CONSTRAINT access_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: audit_logs audit_logs_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: consents consents_app_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.consents
    ADD CONSTRAINT consents_app_id_fkey FOREIGN KEY (app_id) REFERENCES public.apps(id);


--
-- Name: consents consents_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.consents
    ADD CONSTRAINT consents_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: vault_data vault_data_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: starvault
--

ALTER TABLE ONLY public.vault_data
    ADD CONSTRAINT vault_data_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 36Yr5RWdp2gfR5WnLviSIFx8Cs89rnOqdEVuJyHNmvgRSQ3fI3rPxTTNK9dHSXY

